<html>
  <body> 
  <p>CHITTER</p>
<a href="/login">log in</a>
<a href="/signup">sign up</a>
    <img src="https://www.dropbox.com/s/0cekdy9bp3nc84z/pexels-elizabeth-tr-armstrong-680230.jpg?raw=1" style="width:1900px;height:1000;">
  </body>
</html> 