<form method="POST" action="/signup">
  <label> Username: </label>
  <input type = "text" name = "username" />
  <label> Email Address: </label>
  <input type = "text" name = "email_address" />
  <label> Password: </label>
  <input type = "text" name = "password" /> 
  <input type="submit" />
</form>